.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    background: white;
    margin-top: 100px;
    padding: 3px;
    box-sizing: border-box;
}

.formulario h1{
    padding-bottom: 2em;
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

.formulario .contenedor input[type="text"],input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    text-align: center;
}

.formulario .contenedor .input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.formulario .contenedor .input-contenedor .iconform{
    min-width: 50px;
    text-align: center;
    color: #999;
}

.formulario .contenedor .button{
    text-align: center;
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.formulario .contenedor .button:hover{
    background: cadetblue;
}

.formulario .contenedor p{
    text-align: center;
}

.formulario .contenedor .link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}
.formulario .contenedor .link:hover{
    color: cadetblue;
}
@media(min-width:768px){
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}